@media print {    
    .no-print, .no-print *
    {
        display:none !important;
    }
}

@media all and (max-width: 1435px) {
    .mobhide {
        display: none;
    }
}

@media all and (max-width: 400px) {
    .hide {
        display: none;
    }
}
